@import '../../../../../assets/css/variables.css';

:root {
  $grey-color: rgba(0, 0, 0, .75);
  $lightgrey-color: rgba(0, 0, 0, .25);
  $phone-form-width: 300px;
  $iphone6-form-width: 336px;
  $iphone6plus-form-width: 372px;
  $phone-form-padding-caption: 80px;
  $phone-form-padding: 8px;
}

.contactContainer {
  width: 100%;
  position: relative;

  .contact {
    color: $grey-color;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url('../../../../../assets/images/bg-contact.png');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;

    .contactWrapper {
      width: 100%;
      padding: 10% 10%;
      padding-top: 220px;
      position: relative;

      @media (--tablet) {
        padding-top: 0;
      }

      @media (--ipad-landscape) {
        padding-top: 160px !important;
      }

      @media (--iphone5-landscape) {
        padding-top: 80px !important;
      }

      @media (--phone-landscape) {
        padding: 40px 5% 0 5%;
      }

      @media (--phone) {
        padding-top: 300px;
      }

      @media (--iphone6) {
        padding: 40px 5% 0 5%;
        padding-top: 300px;
      }

      section {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .contactForm {
        margin-left: auto;
        width: 400px;

        @media (--phone-landscape) {
          width: $phone-form-width;
          font-size: 13px;
        }

        @media (--iphone6plus-landscape) {
          margin-left: auto;
          width: calc($iphone6plus-form-width);
        }

        @media (--phone) {
          width: 100%;
          font-size: 13px;
        }

        @media (--iphone6) {
          width: 100%;
          font-size: 13px;
        }

        h1 {
          font-size: 36px;
          font-weight: 800;
          margin: 0;
          text-align: center;

          @media (--phone-landscape){
            font-size: 32px;
            letter-spacing: 2px;
          }

          @media (--phone) {
            font-size: 32px;
            letter-spacing: 2px;
          }

          @media (--iphone6) {
            font-size: 32px;
            letter-spacing: 2px;
          }
        }

        .formArea {
          position: relative;

          input, textarea {
            margin: 8px 0;
            width: calc(100% - 108px);
            height: 36px;
            border-radius: 4px;
            border: 1px solid $lightgrey-color;;
            background-color: rgba(255, 255, 255, .9);
            font-size: 14px;
            padding: 0 8px 0 100px;
            -webkit-appearance: none;

            @media (--tablet) {
              margin: 16px 0;
            }

            @media (--phone-landscape) {
              font-size: 13px;
              height: 32px;
              margin: 8px 0;
              padding-left: 80px;
              width: calc($phone-form-width - $phone-form-padding-caption - $phone-form-padding);
            }

            @media (--iphone5-landscape) {
              font-size: 13px;
              height: 32px;
              margin: 8px 0;
              padding-left: 80px;
              width: calc($phone-form-width - $phone-form-padding-caption - $phone-form-padding);
            }

            @media (--phone) {
              font-size: 13px;
              height: 32px;
              margin: 8px 0;
              padding-left: 80px;
              width: calc($phone-form-width - $phone-form-padding-caption - $phone-form-padding);
            }

            @media (--iphone6) {
              font-size: 13px;
              height: 32px;
              margin: 8px 0;
              padding-left: 80px;
              width: calc($iphone6-form-width - $phone-form-padding-caption - $phone-form-padding);
            }

            @media (--iphone6plus) {
              width: calc($iphone6plus-form-width - $phone-form-padding-caption - $phone-form-padding);
            }

            &:focus {
              outline: none;
            }
          }

          textarea {
            width: calc(100% - 16px);
            height: 200px;
            resize: none;
            padding: 36px 8px 0 8px;

            @media (--phone-landscape){
              height: 120px;
              width: calc(100% - 16px);
              padding: 36px 8px 0 8px;
            }

            @media (--iphone5-landscape){
              height: 120px;
              width: calc(100% - 16px);
              padding: 36px 8px 0 8px;
            }

            @media (--phone) {
              height: 160px;
              width: calc(100% - 16px);
              padding: 36px 8px 0 8px;
            }

            @media (--iphone6) {
              height: 160px;
              width: calc($iphone6-form-width - $phone-form-padding * 2);
              padding: 36px 8px 0 8px;
            }

            @media (--iphone6plus) {
              width: calc($iphone6plus-form-width - $phone-form-padding * 2);
            }
          }

          .formCaption {
            position: absolute;
            top: 16px;
            left: 8px;

            @media (--tablet) {
              top: 24px;
            }

            @media (--iphone5-landscape) {
              top: 16px;
            }

            @media (--phone-landscape){
              top: 16px;
            }

            @media (--phone) {
              top: 16px;
            }

            @media (--iphone6) {
              top: 16px;
            }
          }

          .button {
            width: 100%;
            color: #999;
            border-color: #999;
            background-color: rgba(255, 255, 255, .85);
            text-transform: uppercase;
            font-size: 14px;
            padding: 12px;

            @media (--phone-landscape){
              font-size: 12px;
              padding: 8px;
            }

            @media (--iphone5-landscape) {
              font-size: 12px;
              padding: 8px;
            }

            @media (--phone) {
              font-size: 12px;
              padding: 8px;
            }

            @media (--iphone6) {
              font-size: 12px;
              padding: 8px;
              width: $iphone6-form-width;
            }

            @media (--iphone6plus) {
              width: $iphone6plus-form-width;
            }

            &:hover {
              color: #666;
              border-color: #666;
              background-color: rgba(255, 255, 255, .85);
            }
          }
        }
      }
    }
  }
}

.map {
  height: 100vh;

  @media (--phone-landscape) {
    height: 150vh;
  }

  @media (--phone) {
    height: 150vh;
  }
  @media (--iphone6) {
    height: 150vh;
  }
}


/* instantiate global css class using postcss */
:global .gmnoprint {
  display: none;
}
