/* instantiate css variable using postcss-simple-vars */
/* implement rgba css function from postcss-next */
/* implement color css function from postcss-next */
:root {
  /* Colors */
  $light-gray: color(white lightness(99%));
  $dark-gray: rgba(34, 34, 34, 1);
  $light-gray: rgba(211, 211, 211, 1);
  $blue-react: rgba(97, 218, 251, 1);
  $yellow-triperigi: rgba(255, 197, 40, 1);

  /* Border */
  $corner-radius: 4px;

  /* Custom media queries */
  @custom-media --retina only screen
    and (min-device-pixel-ratio: 2);

  @custom-media --phone only screen
    and (width <= 360px);

  @custom-media --iphone5-landscape only screen
    and (min-device-width : 320px)
    and (max-device-width : 568px)
    and (orientation : landscape);

  @custom-media --iphone6 only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (orientation : portrait);

  @custom-media --phone-landscape only screen
    and (width <= 736px)
    and (orientation : landscape);

  @custom-media --tablet (width <= 1024px);

  @custom-media --iphone6plus only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px);

  @custom-media --iphone6plus-landscape only screen
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (orientation : landscape);

  @custom-media --ipad-landscape only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : landscape);

  @custom-media --desktop (width > 1024px);
}
