@import "../../../assets/css/variables.css";

:root {
  $padding-size: 8px;
}

.root {
  width: 100%;
  height: 40px;
  background-color: rgba(0 , 0, 0, .35);
  color: white;
  padding: $padding-size 0;
  top: 0;
  position: fixed;
  z-index: 100;

  @media (--tablet) {
    font-size: 20px;
    padding: calc($padding-size * 2) 0;
  }

  @media (--tablet) {
    font-size: 20px;
    padding: calc($padding-size) 0;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    @media (--tablet) {
      width: calc(100% - 100px);
    }

    .brand {
      flex-grow: 1;
      flex-basis: 0;
      height: 100%;
    }

    .nav {
      flex-grow: 1;
      flex-basis: 0;
      height: 100%;
      padding: 0 16px;
    }
  }
}
