.root {
  width: 100%;
  height: 100%;
  position: relative;

  .container {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }

  .item {
    flex-grow: 1;
    display: inline-block;
    text-align: center;
  }
}
