.slide {
  position: relative;
  padding: 10% 10%;
  width: 100%;
  box-sizing: border-box;
	transform-style: inherit;
  background-position: center;
  background-size: cover;
  color: white;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
  }

  .contentWrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
}
