@import '../../../../../assets/css/variables.css';

.service {
  letter-spacing: 4px;
  margin: 0;
  padding: 0;
  height: auto;

  @media (--phone-landscape) {
    height: 280px;
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 56px;
    margin: 20px 0 24px;

    @media (--phone-landscape){
      font-size: 36px;
    }

    @media (--phone) {
      font-size: 28px;
      margin-bottom: 0;
    }

    @media (--iphone6) {
      font-size: 36px;
      margin-bottom: 0;
    }
  }

  .gridServices {
    @media (--phone-landscape){
      margin: 0;
    }

    @media (--phone) {
      display: block;
    }

    @media (--iphone6) {
      display: block;
    }
  }

  .gridImageCard {
    text-align: center;
    text-transform: uppercase;
    border: none;
    flex-basis: 0;

    @media (--phone) {
      display: flex;
      padding: 0;
    }

    @media (--iphone6) {
      display: flex;
      padding: 0;
    }

    img {
      margin-top: 32px;
      width: 120px;

      @media (--tablet) {
        margin-top: 16px;
      }

      @media (--phone-landscape) {
        margin-top: 0;
        width: 80px;
      }

      @media (--phone) {
        width: 72px;
        margin: 16px 0;
      }

      @media (--iphone6) {
        width: 72px;
        margin: 16px 0;
      }
    }

    h3 {
      margin-top: 48px;

      @media (--tablet) {
        font-size: 13px;
        margin-top: 32px;
        margin-bottom: 64px;
      }

      @media (--phone-landscape) {
        font-size: 12px;
        margin-top: 20px;
      }

      @media (--phone) {
        text-align: left;
        margin-left: 24px;
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 160px;
      }

      @media (--iphone6) {
        text-align: left;
        margin-left: 24px;
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 160px;
      }
    }
  }
}
