@import '../../../../../assets/css/variables.css';

:root {
  $grey-color: rgba(0, 0, 0, .5);
  $lightgrey-color: rgba(0, 0, 0, .25);
}

.works, .worksDetail {
    color: $grey-color;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    height: 100%;
    width: 100%;

    @media (--phone) {
      display: block;
    }

    @media (--iphone6) {
      display: block;
    }
}

.works {
    li {
        height: 400px;
        position: relative;

        @media (--phone) {
          width: 100%;

          &:before {
            content: '';
            position: absolute;
            background-color: rgba(0, 0, 0, .75);
            width: 100%;
            height: 100%;
            z-index: 1;
          }
        }

        @media (--iphone6) {
          width: 100%;

          &:before {
            content: '';
            position: absolute;
            background-color: rgba(0, 0, 0, .75);
            width: 100%;
            height: 100%;
            z-index: 1;
          }
        }

        &:nth-child(1) {
          width: 60%;

          @media (--phone) {
            width: 100%;
          }

          @media (--iphone6) {
            width: 100%;
          }
        }

        &:nth-child(2) {
          width: 40%;

          @media (--phone) {
            width: 100%;
          }

          @media (--iphone6) {
            width: 100%;
          }
        }

        &:nth-child(3) {
          width: 40%;

          @media (--phone) {
            width: 100%;
          }

          @media (--iphone6) {
            width: 100%;
          }
        }

        &:nth-child(4) {
          width: 60%;

          @media (--phone) {
            width: 100%;
          }

          @media (--iphone6) {
            width: 100%;
          }
        }

        .images {
          width: 100%;
          height: 100%;
          background-size: cover;
          position: relative;
        }
    }
}

.worksDetail {
  position: absolute;
  top: 0;

  li {
      height: 400px;
      width: 60%;
      cursor: pointer;

      @media (--phone) {
        width: 100%;
      }

      @media (--iphone6) {
        width: 100%;
      }

      .detail {
        &:before {
          content: '';
          position: absolute;
          background-color: white;
          width: 20px;
          height: 20px;
          top: calc(50% - 10px);
          left: -10px;
          transform: rotate(45deg);
        }

        background-color: white;
        height: calc(100% - (32px*2));
        padding: 32px;
        display: none;
        text-align: center;
        margin: 0 auto;
        position: relative;

        @media (--phone) {
          display: block;
          z-index: 3;
          background-color: transparent;
          color: white;
          width: calc(100% - (32px*2)) !important;

          &:before {
            display: none;
          }
        }

        @media (--iphone6) {
          display: block;
          z-index: 3;
          background-color: transparent;
          color: white;
          width: calc(100% - (32px*2)) !important;

          &:before {
            display: none;
          }
        }

        .contentWrapper {
          display: inline-block;
          width: 100%;
          height: 100%;
          position: relative;


          h2 {
            text-transform: uppercase;
          }

          p {
            min-height: 116px;
            white-space: normal;
            overflow: hidden;
            text-align: justify;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }

          .button {
            position: relative;
            bottom: 0px;
            margin-top: 16px;
            background-color: rgba(0, 0, 0, .05);
            border: 1px solid $lightgrey-color !important;
            height: 48px;
            font-size: 14px;
            color: $grey-color;
            z-index: 999;

            &:focus {
              outline:0;
            }

            &:active {
              border-color: $grey-color;
              background-color: rgba(0, 0, 0, .1);
            }

            @media (--phone) {
              background-color: rgba(255, 255, 255, .05);
              border-color: rgba(255, 255, 255, 1) !important;
              color: rgba(255, 255, 255, 1);

              &:before {
                display: none;
              }
            }

            @media (--iphone6) {
              background-color: rgba(255, 255, 255, .05);
              border-color: rgba(255, 255, 255, 1) !important;
              color: rgba(255, 255, 255, 1);

              &:before {
                display: none;
              }
            }
          }
        }
      }

      &:nth-child(1) {
        left: 40%;

        @media (--phone) {
          width: 100%;
        }

        @media (--iphone6) {
          width: 100%;
        }

        .detail {
          &:before {
            left: calc(100% - 10px);
          }
        }
      }

      &:nth-child(2) {
        left: 0;
        width: 40%;

        @media (--phone) {
          width: 100%;
        }

        @media (--iphone6) {
          width: 100%;
        }
      }

      &:nth-child(3) {
        left: 60%;
        width: 40%;

        @media (--phone) {
          width: 100%;
        }

        @media (--iphone6) {
          width: 100%;
        }

        .detail {
          &:before {
            left: calc(100% - 10px);
          }

          .contentWrapper p {
            height: 80px;
          }
        }
      }

      &:nth-child(4) {
        left: 0;
        width: 60%;

        @media (--phone) {
          width: 100%;
        }

        @media (--iphone6) {
          width: 100%;
        }

        .contentWrapper {
          p {
            height: 80px;
          }
          .button {
            margin-top: 16px;
          }
        }
      }
  }
}

.show {
  display: block !important;
}
