@import '../../../../../assets/css/variables.css';

.about {
    color: #2d2d2d;
    background-color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;

    @media (--phone) {
      display: block;
    }

    @media (--iphone6) {
      display: block;
    }

    li {
      flex: 1;
      padding: 40px 0;

      @media (--phone-landscape) {
        padding: 0 !important;
      }

      @media (--phone) {
        padding: 0 0 24px 0;
      }

      @media (--iphone6) {
        padding: 0 0 24px 0;
      }

      &:nth-child(1) {
        flex: 1;
        padding: 16px;
        text-align: right;
        position: relative;

        @media (--phone) {
          padding: 0px;
          font-size: 14px;
        }

        .logo {
          position: absolute;
          top: 0;
          right: 0;
          margin-top: -48px;

          @media (--phone-landscape) {
            top: 16px;
            right: -10px;
          }

          @media (--phone) {
            right: -20px;
          }

          @media (--iphone6) {
            right: -20px;
          }

          img {
            height: 200px;


            @media (--tablet) {
              height: 150px;
              margin-top: 60px;
            }

            @media (--phone-landscape) {
              height: 120px;
            }
          }
        }
        .contact {
          padding: 180px 28px 0;
          text-align: right;

          @media (--tablet) {
            padding-right: 0;
          }

          @media (--phone-landscape) {
            padding: 160px 0 0 16px;
            font-size: 13px;
          }

          @media (--phone) {
            padding: 180px 0 0;
          }

          @media (--iphone6) {
            padding: 180px 0 0;
          }

          h3 {
            font-weight: 500;
          }

          .info {
            text-align: right;
          }

          .contactInfo {
            p {
              text-align: right;
              margin: 0;
            }
          }

          .workHours {
            p {
              text-align: right;
              margin: 0;
            }
          }
        }
      }

      h1 {
        margin-top: 68px;
        font-size: 48px;
        text-transform: uppercase;


        @media (--phone-landscape) {
          font-size: 36px;
        }

        @media (--phone) {
          text-align: center;
          font-size: 36px;
        }

        @media (--iphone6) {
          text-align: center;
          font-size: 36px;
        }
      }

      p {
        text-align: justify;
      }
    }
}
