.button {
  border: 1px solid white;
  background: none;
  border-radius: 4px;
  padding: 5px 15px;
  color: white;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 4px;
  margin: 0 auto;
  cursor: pointer;
  width: 100%;
}
