@import '../../../assets/css/variables.css';

.root {
  background-color: #ffffff;
  width: 100%;

  .header {
    width: 1100px;

    @media (--tablet) {
      width: calc(100% - (16px * 4)) !important;
    }
  }

  .content {
    width: 100%;
    margin: 0 auto;
  }
}
