@import "../../../assets/css/variables.css";

.root {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: -6px;

  @media (--tablet) {
    margin-top: -10px;
  }

  @media (--phone-landscape) {
    font-size: 14px;
    margin-top: 0;
  }

  @media (--iphone5-landscape) {
    font-size: 14px;
  }

  @media (--phone) {
    display: none;
  }

  @media (--iphone6) {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    padding: 0;
    width: 100%;
  }
}
