@import '../../../assets/css/variables.css';
@import '../../../assets/css/mixins.css';

.headingSection {
  min-height: 100vh !important;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25% auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--tablet) {
    height: calc(100vh - 80px);
    min-height: 0;
    background-size: auto 100%;
  }
}

.serviceSection {
  margin-top: -132px !important;
  background-position: top !important;
  background-repeat: none !important;
  max-height: 100vh !important;
  min-height: auto !important;
  padding: 32px 10% !important;
  padding-top: 120px !important;

  @media (--tablet) {
    margin-top: -180px !important;
    min-height: none !important;
    max-height: none !important;
    margin-bottom: 0px !important;
  }

  @media (--phone-landscape) {
    margin-top: -64px !important;
    padding: 56px 5% 5% 5% !important;
  }

  @media (--iphone5-landscape) {
    padding: 56px 5% 5% 5% !important;
  }

  @media (--phone-landscape) {
    margin-top: -108px !important;
    padding: 32px 5% !important;
    padding-top: 120px !important;
  }
}

.workSection {
  padding: 0 !important;
}

.aboutSection {
  background-size: 100% !important;
  background-position-x: center;
  background-position-y: 0 !important;
  margin-top: -128px !important;
  background-repeat: no-repeat !important;
  min-height: auto !important;
  padding: 140px 10% 5% 10%;
  color: #666666;
  z-index: 1;

  @media (--tablet) {
    margin-top: -100px !important;
  }

  @media (--phone-landscape) {
    margin-top: -64px !important;
    padding: 56px 5% 5% 5% !important;
  }

  @media (--phone) {
    margin-top: -40px !important;
  }

  @media (--iphone6) {
    margin-top: -40px !important;
    padding: 56px 5% 5% 5% !important;
  }
}

.contactSection {
  background: none;
  padding: 0 !important;
  color: #666666;
}
