@import "../../../../../assets/css/variables.css";

.navItem {
  list-style: none;
  padding: 0 0 0 24px;

  @media (--iphone5-landscape) {
    margin-right: 24px;
  }

  @media (--phone-landscape){
    margin-right: 0;
  }

  @media (--phone) {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;

    &.active {
      text-decoration: normal;
      cursor: default;
      color: $yellow-triperigi;

      &:before {
        content: '';
        position: absolute;
        background-color: $yellow-triperigi;
        width: 100%;
        height: 2px;
        top: 36px;
        left: 0px;
      }
    }

  }
}
