@import '../../../../../assets/css/variables.css';

:root {
  $yellow-color: rgba(254, 209, 88, 1);
}

.heading {
  padding: 24px 16px;
  display: block;
  text-align: center;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .2);
  max-width: 710px;
  min-height: 260px;
  margin: 0 auto;

  @media (--phone-landscape) {
    padding: 16px;
    width: 320px;
    min-height: 160px;
  }

  @media (--iphone5-landscape) {
    min-height: 160px;
  }

  @media (--phone) {
    min-height: 160px;
  }

  @media (--iphone6) {
    min-height: 160px;
  }

  .container {
    margin: 10px auto;
    display: inline-block;
    text-align: left;
  }

  h1, h2 {
    margin: 0;
    font-size: 56px;
    display: inline-block;
    font-weight: 100;

    @media (--phone-landscape) {
      font-size: 28px !important;
    }

    @media (--phone) {
      font-size: 28px !important;
    }

    @media (--iphone6) {
      font-size: 28px !important;
    }

  }

  h1 {
    font-size: 64px;
    padding: 0;
    margin-top: -24px;
  }

  .buttonWrapper {
    margin-top: 36px;
    width: 100% !important;

    @media @media (--phone) {
      margin-top: 24px;
    }

    @media (--phone-landscape) {
      margin-top: 24px;
    }

    @media (--iphone5-landscape) {
      margin-top: 0px;
    }

    @media (--iphone6) {
      margin-top: 24px;
    }
  }

  .button {
    background-color: rgba(254, 209, 88, .1);
    border: 1px solid $yellow-color !important;
    height: 48px;
    color: $yellow-color;

    @media (--phone-landscape){
      font-size: 12px;
      letter-spacing: 2px;
      height: 36px;
    }

    @media (--phone) {
      font-size: 12px;
      letter-spacing: 2px;
      height: 36px;
    }

    @media (--iphone6) {
      font-size: 12px;
      letter-spacing: 2px;
      height: 36px;
    }
  }
}
